<div class="container">
  <div class="page-header center-alignment">
    <h2>
       Bid Quantity for {{ newType }} of house {{houseID}} which belongs to node {{ nodeID }}
    </h2>
  </div>
  <div class="center-alignment">
    Pressing the following buttons you can also see the Bid Price & the Consumed Load
    for {{ newType }} in node {{ nodeID }}.
  </div>
  <br>
  <input type="hidden" name="option" value="" id="btn-input" />
  <div class="btn-group pull-right" data-toggle="buttons-radio" style="margin-bottom:25px; margin-top:10px;">
    <a href="#/devices/heatmap-price/{{type}}/{{nodeID}}/{{houseID}}"
        class="button btn btn-primary" id="btn-one" type="button" data-toggle="button"
        name="option" value="1">
      Bid Price
    </a>
    <a href="#/devices/heatmap-quantity/{{type}}/{{nodeID}}/{{houseID}}"
        class="button btn btn-primary active" id="btn-two" type="button" data-toggle="button"
        name="option" value="2" checked>
      Bid Quantity
    </a>
    <a href="#/devices/heatmap-load/{{type}}/{{nodeID}}/{{houseID}}"
        class="button btn btn-primary" id="btn-three" type="button" data-toggle="button"
        name="option" value="3">
      Consumed Load
    </a>
  </div>

  <div ng-controller="devices-heatmap-quantity">
    <div id="containerHeatmap"></div>
  </div>
</div>
