<div class="container">
  <div class="page-header center-alignment">
    <h2>
      Multiple Axes for {{ date }} for {{ newType }} which belongs to node {{ nodeID }}
    </h2>
  </div>
  <div class="center-alignment">
    You can also see the data for the Devices in Synchronized Diagram, pressing the button below.
  </div>
  <br>
  <input type="hidden" name="option" value="" id="btn-input" />
  <div class="btn-group pull-right" data-toggle="buttons-radio" style="margin-bottom:25px; margin-top:10px;">
    <a href="#/devices/multiple-line-chart/{{date}}/{{type}}/{{nodeID}}/{{houseID}}"
        class="button btn btn-primary" id="btn-one" type="button" data-toggle="button"
        name="option" value="1">
      Synchronized Diagrams
    </a>
    <a href="#/devices/multiple-axes/{{date}}/{{type}}/{{nodeID}}/{{houseID}}"
        class="button btn btn-primary active" id="btn-two" type="button" data-toggle="button"
        name="option" value="2" checked>
      Multiple Axes Diagram
    </a>
  </div>
  <div id="containerMultipleAxes"></div>
</div>
