<div class="container">
  <div class="page-header center-alignment">
    <h2>
      Synchronized Diagrams for {{ newType }} of house {{houseID}} which belongs to node {{ nodeID }} on {{date}}
    </h2>
  </div>
  <div>
    In this diagram each factor presents individually from the others. All they have in common is
    the x-axis value when the mouse hovers one of them. You can also view the data for the Devices
    in Multiple Axes Diagram by clicking on the button below.
  </div>
  <br>
  <input type="hidden" name="option" value="" id="btn-input" />
  <div class="btn-group pull-right" data-toggle="buttons-radio" style="margin-bottom:25px; margin-top:10px;">
    <a href="#/devices/multiple-line-chart/{{date}}/{{type}}/{{nodeID}}/{{houseID}}"
        class="button btn btn-primary active" id="btn-one" type="button" data-toggle="button"
        name="option" value="1" checked>
      Synchronized Diagrams
    </a>
    <a href="#/devices/multiple-axes/{{date}}/{{type}}/{{nodeID}}/{{houseID}}"
        class="button btn btn-primary" id="btn-two" type="button" data-toggle="button"
        name="option" value="2">
      Multiple Axes Diagram
    </a>
  </div>
  <div id="containerMultipleCharts"></div>
</div>
