<div class="container">
  <div ng-controller="date-picker-controller as vm">
    <h2>We are in the Energy Sources</h2>
    <p>Type in the following forms the date, the type, and the nodeID
       and you will see the multiple axes-chart</p>
    <form class="form-horizontal">
        <div class="form-group has-feedback">
          <label for="exampleInputName2" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"
                    id="firstForm"
                    datepicker-popup="MMM dd, yyyy"
                    is-open="vm.valuationDatePickerIsOpen"
                    ng-click="vm.valuationDatePickerOpen()"
                    ng-model="initialDate"/>
              <i class="form-control-feedback glyphicon glyphicon-calendar"></i>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputName3" class="col-sm-2 control-label">Type</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="secondForm" placeholder="dieseltown">
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputName3" class="col-sm-2 control-label">NodeID</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="thirdForm" placeholder="671">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" id="open">Search</button>
          </div>
        </div>
    </form>
  </div>
  <script>
    $('#open').click(function() {
        var URL = '#/energy-sources/multiple-axes/',
            slace = '/',
            firstUserEntry = $('#firstForm').val(),
            secondUserEntry = $('#secondForm').val(),
            thirdUserEntry = $('#thirdForm').val();

            if (firstUserEntry=='Aug 01, 2000') {
              firstUserEntry = '01-08-2000';
            }
            if (firstUserEntry=='Aug 02, 2000') {
              firstUserEntry = '02-08-2000';
            }
            if (firstUserEntry=='Aug 03, 2000') {
              firstUserEntry = '03-08-2000';
            }
            if (firstUserEntry=='Aug 04, 2000') {
              firstUserEntry = '04-08-2000';
            }
            if (firstUserEntry=='Aug 05, 2000') {
              firstUserEntry = '05-08-2000';
            }
            if (firstUserEntry=='Aug 06, 2000') {
              firstUserEntry = '06-08-2000';
            }
            if (firstUserEntry=='Aug 07, 2000') {
              firstUserEntry = '07-08-2000';
            }

        var newWindow = window.open(URL + firstUserEntry + slace + secondUserEntry + slace + thirdUserEntry, '_blank');
        newWindow.focus();
    });
  </script>



</div>
