<div class="container">
  <div ng-controller="date-picker-controller as vm">
    <div class="page-header" style="text-align:center;">
      <h1>Energy Sources</h1>
    </div>
    <div class="container marketing">
      <h4 style="padding-bottom:20px;">
        This table contains information about Energy Sources of the System, which
        are divided in three categories. This table includes information about the Real
        and the Reactive power for each category of energy sources per node, as well as
        the price that the energy is selling.
      </h4>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10 no-padding-left">
            <p style="padding-bottom:10px;">
              Fill in the following inputs with the Date, the Type of the energy source and
              the NodeID belonging to you are interested in. By clicking on each input
              a pop-up window will show up. Choose the values that you desire in each category
              and the corresponding diagram will appear.
            </p>
          </div>
      </div>
    </div>
    <form class="form-horizontal">
        <div class="form-group has-feedback">
          <label for="exampleInputName2" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"
                    id="firstForm"
                    datepicker-popup="MMM dd, yyyy"
                    is-open="vm.valuationDatePickerIsOpen"
                    ng-click="vm.valuationDatePickerOpen()"
                    show-button-bar="false"
                    ng-model="initialDate"
                    min-date="startDate"
                    max-date="endDate" />
              <i class="form-control-feedback glyphicon glyphicon-calendar"></i>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputName3" class="col-sm-2 control-label">Type</label>
          <div class="col-sm-10">
            <select class="form-control" id="secondForm" placeholder="Diesel" onchange="changeType(value)">
              <option value="diesel">Diesel</option>
              <option value="wind">Wind</option>
              <option value="solar">Solar</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputName1" class="col-sm-2 control-label">Node ID</label>
          <div class="col-sm-10">
            <select class="form-control" id="nodesDiesel" placeholder="671">
              <option value="671">671</option>
              <option value="675">675</option>
              <option value="692">692</option>
            </select>
            <select class="form-control" id="nodesWind" placeholder="671" style="display:none">
              <option value="671">671</option>
              <option value="675">675</option>
              <option value="692">692</option>
            </select>
            <select class="form-control" id="nodesSolar" placeholder="6711" style="display:none">
              <option value="611">611</option>
              <option value="645">645</option>
              <option value="646">646</option>
              <option value="652">652</option>
              <option value="671">671</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" id="open">Search</button>
          </div>
        </div>
    </form>
  </div>
  <script>
    function changeType(value){
      if(value=='diesel') {
      document.getElementById('nodesDiesel').style.display='block';
      }
      else {
        document.getElementById('nodesDiesel').style.display='none';
      }
      if(value=='wind') {
       document.getElementById('nodesWind').style.display='block';
      }
      else {
       document.getElementById('nodesWind').style.display='none';
      }
      if(value=='solar') {
       document.getElementById('nodesSolar').style.display='block';
      }
      else {
       document.getElementById('nodesSolar').style.display='none';
      }
    }

    function changeTypeForServer(type) {
      var secondUserEntry;

      if (type=='diesel') {
        secondUserEntry = 'dieseltown';
      }
      if (type=='wind') {
        secondUserEntry = 'windtown';
      }
      if (type=='solar') {
        secondUserEntry = 'solar';
      }
      return secondUserEntry;
    }

    function chooseNodeID(value) {
      var thirdUserEntry;

      if (value=='dieseltown') {
        thirdUserEntry = $('#nodesDiesel').val();
      }
      if (value=='windtown') {
        thirdUserEntry = $('#nodesWind').val();
      }
      if (value=='solar') {
        thirdUserEntry = $('#nodesSolar').val();
      }
      return thirdUserEntry;
    }

    $('#open').click(function() {
        var URL = '#/energy-sources/multiple-axes/',
            slace = '/',
            firstUserEntry = $('#firstForm').val(),
            secondEntryUnfixed = $('#secondForm').val(),
            secondUserEntry = changeTypeForServer(secondEntryUnfixed),
            thirdUserEntry = chooseNodeID(secondUserEntry);

            if (firstUserEntry=='Aug 01, 2000') {
              firstUserEntry = '01-08-2000';
            }
            if (firstUserEntry=='Aug 02, 2000') {
              firstUserEntry = '02-08-2000';
            }
            if (firstUserEntry=='Aug 03, 2000') {
              firstUserEntry = '03-08-2000';
            }
            if (firstUserEntry=='Aug 04, 2000') {
              firstUserEntry = '04-08-2000';
            }
            if (firstUserEntry=='Aug 05, 2000') {
              firstUserEntry = '05-08-2000';
            }
            if (firstUserEntry=='Aug 06, 2000') {
              firstUserEntry = '06-08-2000';
            }
            if (firstUserEntry=='Aug 07, 2000') {
              firstUserEntry = '07-08-2000';
            }

        var newWindow = window.open(URL + firstUserEntry + slace + secondUserEntry + slace + thirdUserEntry, '_blank');
        newWindow.focus();
    });
  </script>



</div>
