<div class="container-fluid">
  <h2 class="center-alignment">Line Chart for {{ date }} for {{ type }}  for node {{ nodeID }}</h2>
  <p class="center-alignment">You can see the data for Energy Sources either in Line Diagram or in Radar Diagram,
    pressing the following buttons
  </p>
  <div class="center-alignment">
    <a href="#/energy-sources/line-chart/{{date}}/{{type}}/{{nodeID}}"
      class="button-center-alignment myButton btn btn-default"
      role="button">Line Diagram</a>
    <a href="#/energy-sources/radar-chart/{{date}}/{{type}}/{{nodeID}}"
      class="button-center-alignment myButton btn btn-default"
      role="button">Radar Diagram</a>
  </div>
  <div ng-controller="energy-sources-line-chart">
      <div class="center-alignment">
      </div>
    <canvas id="energy-sources-line-chart"></canvas>
  </div>
</div>
