<div class="jumbotron">
  <div class="container marketing">
    <h1>Welcome to GridLabDVisor!</h1>
    <p>GridLabDVisor is a web application which collects data from a
        power distribution system simulation and analysis tool (gridLab-D)
        and uses javascript libraries to represent these data in forms and
        diagrams which are useful and understandable for users.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>
<div class="container marketing" style="padding-bottom: 20px;">
  <h4>
    To start the navigation in the application choose the table that you are
    interested in, from the following list. You can also find the tables from
    the bar to the top of the page, by clicking at "Select Table" selection and
    choosing the table that you are interested in.
  </h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/img/charts/central_triplex_meter_line.jpeg" alt="Central Triplex Meter">
        <div class="caption">
          <h3>Central Triplex Meter</h3>
          <p>
            This table contains information about Central Triplex Meter of the System.
            To be more specific contains the values for Real & Reactive Power for each
            central node of the system per day.
          </p>
          <p><a href="#/triplex-meter-select" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/img/charts/devices.jpeg" alt="Devices">
        <div class="caption">
          <h3>Devices</h3>
          <p>
            This table contains information about all Devices located in a house. Each device
            has a Bid Price and a Bid Quantity that beats in the auction and the Consumed Load
            that actually takes.
          </p>
          <p><a href="#/devices-select" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/img/charts/energy_sources.jpeg" alt="Energy Sources">
        <div class="caption">
          <h3>Energy Sources</h3>
          <p>
            This table contains information about Energy Sources of the System, which
            are divided in three categories. It can informs you about Real & Reactive
            Power for each category per node, as well as the Price that the Energy is selling.
          </p>
          <p><a href="#/energy-sources-select" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
     <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/img/charts/houses.jpeg" alt="Houses">
        <div class="caption">
          <h3>Houses</h3>
          <p>
            In this table you can check the actual Load that inserts into your house and
            the percentage of this that become Reactive Power and not used as power of house
            anymore.
          </p>
          <p><a href="#/houses-select" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/img/charts/market_pool.jpeg"alt="Market Pool">
        <div class="caption">
          <h3>Market Pool</h3>
          <p>
            This table contains information about the Market Pool of the System. So watching
            this table you can check how is formed the Market Pool of System per day.
          </p>
          <p><a href="#/market-pool-select" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/img/charts/nodes.png" alt="Nodes">
        <div class="caption">
          <h3>Nodes</h3>
          <p>
            In this table you can check how the Voltage and the Current is flowing among the
            Nodes of the System and how the System actually is formed for each day per phase.
          </p>
          <p><a href="#/nodes-select" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
     <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../img/charts/transformer.png" alt="Transformer">
        <div class="caption">
          <h3>Transformer</h3>
          <p>
            In this table you can check the value of the Power that gets in the Transformer
            of the System, as well as the Power that gets out and the Losses per phase.
          </p>
          <p><a href="#/transformer-select" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">

        <img src="/img/charts/devices_total_table.jpeg" alt="Devices Total Table">
        <div class="caption">
          <h3>Devices Total Table</h3>
          <p>
            This is a table that contains all the information about Devices in table
            format. Contains exactly the same information with "Devices" table, but
            with different format.
          </p>
          <p><a href="#/devices-select-table" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">

        <img src="/img/charts/system-graph.png" alt="System Graph">
        <div class="caption">
          <h3>System Graph</h3>
          <p>
            In this table you can watch the topology of our system, ie that
            you are able to see how the nodes of the system are connected, as well as
            how many houses are connected to each node.
          </p>
          <p><a href="#/system/graph" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="light">
      <div class="row container">
        <div class="col-sm-6 col-md-4">
          <div class="photo-padding">
            <div class="my-image" style="background-image: url(/img/gridlab-d.JPG);"></div>
          </div>
          <h2 align="center">GridLAB-D</h2>
          <p align="center">
            GridLAB-D™ is a new power distribution system simulation and analysis tool
            that provides valuable information to users who design and operate distribution
            systems, and to utilities that wish to take advantage of the latest energy
            technologies.
          </p>
          <div class="button-center-align">
            <a class="light-background btn btn-default" role="button" href="http://www.gridlabd.org/" target="_blank">View details »</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="photo-padding">
            <div class="my-image" style="background-image: url(/img/visjs.png);"></div>
          </div>
          <h2 align="center">Vis js</h2>
          <p align="center">
            Visjs is a dynamic, browser based visualization library. The library is
            designed to handle large amounts of dynamic data, and to enable manipulation
            of and interaction with the data.
          </p>
          <div class="button-center-align">
            <a class="light-background btn btn-default" role="button" href="http://visjs.org/" target="_blank">View details »</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="photo-padding">
            <div class="my-image" style="background-image: url(/img/highcharts.png);"></div>
          </div>
          <h2 align="center">Highcharts</h2>
          <p align="center">
            Highcharts is a charting library written in pure JavaScript, offering an easy way
            of adding interactive charts to your web site or web application.
            It works in all modern mobile and desktop browsers
          </p>
          <div class="button-center-align">
            <a class="light-background btn btn-default" role="button" href="http://www.highcharts.com/" target="_blank">View details »</a>
          </div>
        </div>
      </div>
  </div>
</div>
