<div class="jumbotron">
  <div class="container marketing">
    <h1 style="text-align:center">Welcome to GridLabDVisor!</h1>
    <br>
    <p>
      GridLabDVisor is a Web based Application which receives data from a
      power distribution system simulation and analysis tool named GridLAB-D;
      and uses JavaScript Libraries and proper Visualization Techniques and Tools to present
      received data in such a way that patterns can be spotted quickly and easily by the user
      of the Application.
    </p>
  </div>
</div>
<div class="container marketing" style="padding-bottom: 20px;">
  <div class="page-header" style="text-align:center;">
    <h1 style="text-align:center;"> List Of Tables</h1>
  </div>
  <h4 style="padding-top:7px;padding-bottom: 20px;">
    Here is a list of all the tables containing in our Web Application. To start the navigation
    you can select the table you are interested in by clicking on it. You can also view the tables from
    the navigation bar on the top of the page, by clicking on "Select Table" selection and
    choosing the table that you desire.
  </h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/img/charts/central_triplex_meter_line.jpeg" alt="Central Triplex Meter">
        <div class="caption">
          <h3>Central Triplex Meter</h3>
          <p class="fixParagraphsHeight">
            This table contains information about the unique Central Triplex Meter of the System.
            To be more specific contains the values for Real & Reactive Power for each
            central node of the system per day.
          </p>
          <p><a href="#/triplex-meter-select" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/img/charts/devices.jpeg" alt="Devices">
        <div class="caption">
          <h3>Devices</h3>
          <p class="fixParagraphsHeight">
            This table contains information about all Devices belonging to a house. Each device
            has a Bid Price and a Bid Quantity that beats in the auction and the Consumed Load
            that actually consumes.
          </p>
          <p><a href="#/devices-select" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/img/charts/energy_sources.jpeg" alt="Energy Sources">
        <div class="caption">
          <h3>Energy Sources</h3>
          <p class="fixParagraphsHeight">
            This table contains information about Energy Sources of the System, which
            are divided in three categories. It contains information about Real & Reactive
            Power per node, as well as the Price that the Energy is selling.
          </p>
          <p><a href="#/energy-sources-select" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
     <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/img/charts/houses.jpeg" alt="Houses">
        <div class="caption">
          <h3>Houses</h3>
          <p class="fixParagraphsHeight">
            In this table you can view the total load each house of the System consumed per
            day and how much of this load turns into Reactive Power. You can select one or
            more houses from the resulting list.
          </p>
          <p><a href="#/houses-select" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/img/charts/market_pool.jpeg"alt="Market Pool">
        <div class="caption">
          <h3>Market Pool</h3>
          <p class="fixParagraphsHeight">
            This table contains information about the Market Pool of the System. Specifically,
            it contains information about how the values of price and load change over time
            and per each day.
          </p>
          <p><a href="#/market-pool-select" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/img/charts/nodes.png" alt="Nodes">
        <div class="caption">
          <h3>Nodes</h3>
          <p class="fixParagraphsHeight">
            In this table you can view how the Voltage belonging to each node and the Current is
            flowing among the Nodes of the System, as well as the System's behavior for each time
            quarter of a specific day.
          </p>
          <p><a href="#/nodes-select" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
     <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="../img/charts/transformer.png" alt="Transformer">
        <div class="caption">
          <h3>Transformer</h3>
          <p class="fixParagraphsHeight">
            In this table you can view the value of the Power that flows into the transformer,
            the power that flows out of it and the power losses it probably has. This information
            is different for each phase of the system.

          </p>
          <p><a href="#/transformer-select" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">

        <img src="/img/charts/devices_total_table.jpeg" alt="Devices Total Table">
        <div class="caption">
          <h3>Devices Total Table</h3>
          <p class="fixParagraphsHeight">
            This is a table that contains information about Devices in table format. It includes
            exactly the same information with the “Devices” table, but in different form. We used
            the heatmap format for each factor of this table.
          </p>
          <p><a href="#/devices-select-table" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">

        <img src="/img/charts/system-graph.png" alt="System Graph">
        <div class="caption">
          <h3>System Graph</h3>
          <p class="fixParagraphsHeight">
            In this table you can view the graphic topology of our whole System. It is a global
            diagram and it shows the connection among the nodes of the system, as well as all the
            houses containing by each node.
          </p>
          <p><a href="#/system/graph" class="btn btn-default" role="button">Go to graph</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="light">
      <div class="row container">
        <div class="col-sm-6 col-md-4">
          <div class="photo-padding">
            <div class="my-image" style="background-image: url(/img/gridlab-d.JPG);"></div>
          </div>
          <h2 align="center">GridLAB-D</h2>
          <p class="fixHeight" align="center">
            GridLAB-D™ is a power distribution system simulation and analysis tool
            that provides valuable information to users who design and operate distribution
            systems, and to utilities that wish to take advantage of the latest energy
            technologies.
          </p>
          <div class="button-center-align">
            <a class="light-background btn btn-default" role="button" href="http://www.gridlabd.org/" target="_blank">View details »</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="photo-padding">
            <div class="my-image" style="background-image: url(/img/visjs.png);"></div>
          </div>
          <h2 align="center">Vis js</h2>
          <p class="fixHeight" align="center">
            Visjs is a dynamic, browser based visualization library. The library is
            designed to handle large amounts of dynamic data, and to enable manipulation
            of and interaction with the data.
          </p>
          <div class="button-center-align">
            <a class="light-background btn btn-default" role="button" href="http://visjs.org/" target="_blank">View details »</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="photo-padding">
            <div class="my-image" style="background-image: url(/img/highcharts.png);"></div>
          </div>
          <h2 align="center">Highcharts</h2>
          <p class="fixHeight" align="center">
            Highcharts is a charting library written in pure JavaScript, offering an easy way
            of adding interactive charts to your web site or web application.
            It works in all modern mobile and desktop browsers
          </p>
          <div class="button-center-align">
            <a class="light-background btn btn-default" role="button" href="http://www.highcharts.com/" target="_blank">View details »</a>
          </div>
        </div>
      </div>
  </div>
</div>
