<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <div class="indicators-color">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  </div>

    <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      <div class="item active">
          <div class="carousel-image" style="background-image: url(../img/d3.jpg);"></div>
          <div class="carousel-caption">
            <p>1</p>
          </div>
      </div>
      <div class="item">
          <div class="carousel-image" style="background-image: url(../img/2.jpg);"></div>
        <div class="carousel-caption">
          <p>2</p>
        </div>
      </div>
      <div class="item">
        <div class="carousel-image" style="background-image: url(../img/3.jpg);"></div>
        <div class="carousel-caption">
          <p>3</p>
        </div>
      </div>
    </div>

  <!-- Controls -->
  <a class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="light">
  <div class="container marketing">
    <div class="row">
      <div class="col-md-6">
        <div class="photo-padding">
          <div class="my-image" style="background-image: url(/img/gridlab-d.JPG);"></div>
        </div>
        <h2 align="center">GridLAB-D</h2>
        <p align="center">
          GridLAB-D™ is a new power distribution system simulation and analysis tool
          that provides valuable information to users who design and operate distribution
          systems, and to utilities that wish to take advantage of the latest energy
          technologies.
        </p>
        <div class="button-center-align">
          <a class="light-background btn btn-default" role="button" href="http://www.gridlabd.org/" target="_blank">View details »</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="photo-padding">
          <div class="my-image" style="background-image: url(/img/d3.jpg);"></div>
        </div>
        <h2 align="center">D3.js</h2>
        <p align="center">
          D3.js (or just D3 for Data-Driven Documents) is a JavaScript library for
          producing dynamic, interactive data visualizations in web browsers. It makes
          use of the widely implemented SVG, HTML5, and CSS standards. D3 allows you to
          bind arbitrary data to a Document Object Model (DOM).
        </p>
        <div class="button-center-align">
          <a class="light-background btn btn-default" role="button" href="http://d3js.org/" target="_blank">View details »</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/../js/fix-carousel.js"></script>

