<div class="container-fluid">
  <h2 class="center-alignment">Line Chart for {{ date }} for house with ID {{ houseID }} </h2>
  <div class="center-alignment">
    <a href="#/house/line-chart/{{date}}/{{houseID}}" class="button-center-alignment myButton btn btn-default"
      role="button">Line Diagram</a>
  </div>
  <div ng-controller="house-line-chart">
      <div class="center-alignment">
        <span>Total Load<button class="buyersQuantity btn"></button></span>
        <span>Reactive Power<button class="sellersQuantity btn"></button></span>
      </div>
    <canvas id="house-line-chart"></canvas>
  </div>
</div>
