<div class="container">
  <h2>We are in the House</h2>
  <p>Type in the following forms the date and the houseID
     and you will see the chart</p>
  <input id="firstForm">
  <input id="secondForm">
  <button id="open">Find</button>

  <script>
    $('#open').click(function() {
        var URL = '#/houses/line-chart/',
            slace = '/',
            firstUserEntry = $('#firstForm').val(),
            secondUserEntry = $('#secondForm').val();

        var newWindow = window.open(URL + firstUserEntry + slace + secondUserEntry, '_blank');
        newWindow.focus();
    });
  </script>



</div>
