<div class="container">
  <h2>We are in the Market Pool</h2>
  <p>Type in the following form the date and you will see the highcharts-line</p>
  <input id="firstForm">
  <!-- <input id="secondForm"> -->
  <button id="open">Find</button>

  <script>
    $('#open').click(function() {
        var URL = '#/market/highcharts-line/',
            slace = '/',
            firstUserEntry = $('#firstForm').val();
            // secondUserEntry = $('#secondForm').val();

        var newWindow = window.open(URL + firstUserEntry, '_blank');
        newWindow.focus();
    });
  </script>



</div>
