<div class="container">
  <div class="page-header center-alignment">
    <h2>
      Line Chart for Market Pool for {{ date }}
    </h2>
  </div>
  <div class="center-alignment">
    You can also see the data for the Market Pool
    in Spider Diagram, pressing the button below.
  </div>
  <br>
  <input type="hidden" name="option" value="" id="btn-input" />
  <div class="btn-group pull-right" data-toggle="buttons-radio" style="margin-bottom:25px; margin-top:10px;">
    <a href="#/market/highcharts-line/{{date}}"
        class="button btn btn-primary active" id="btn-one" type="button" data-toggle="button"
        name="option" value="1" checked>
      Line Diagram
    </a>
    <a href="#/market/highcharts-spider/{{date}}"
        class="button btn btn-primary" id="btn-two" type="button" data-toggle="button"
        name="option" value="2">
      Spider Diagram
    </a>
  </div>
  <div ng-controller="market-line-highcharts">
      <div id="container"></div>
  </div>
</div>
