<div class="container">
  <div class="page-header center-alignment">
    <h2>
      The Unsorted Graph of our System on {{ date }} & {{ time }}
    </h2>
  </div>
  <div>
    This chart shows the connection between the nodes of the system, as well as the values of
    power of each node. We present values of this table in complex form, in the total
    graph and in real form in the “per phase” presentation. You can also see the data for
    Nodes in Unsorted Graph, by clicking on the following buttons.
    Moreover you can move the needle of the slider to view how the graph is behaving in time.
  </div>
  <br>
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-12">
        <select name="timeSlider" id="timeSlider"></select>
      </div>
    </div>
  </form>
  <input type="hidden" name="option" value="" id="btn-input" />
  <div class="btn-group btn-group-justified" data-toggle="buttons-radio" style="margin-bottom:25px; margin-top:10px;">
    <a href="#/nodes/hierarchical-layout/{{date}}/{{time}}"
        class="button btn btn-primary" id="btn-one" type="button" data-toggle="button"
        name="option" value="1">
      Hierarchical Layout
    </a>
    <a href="#/nodes/graph/{{date}}/{{time}}"
        class="button btn btn-primary active" id="btn-two" type="button" data-toggle="button"
        name="option" value="2" checked>
      Unsorted Graph
    </a>
    <a href="#/nodes/graph/A/{{date}}/{{time}}"
        class="button btn btn-primary" id="btn-one" type="button" data-toggle="button"
        name="option" value="1">
      Phase A
    </a>
    <a href="#/nodes/graph/B/{{date}}/{{time}}"
        class="button btn btn-primary" id="btn-two" type="button" data-toggle="button"
        name="option" value="2">
      Phase B
    </a>
    <a href="#/nodes/graph/C/{{date}}/{{time}}"
        class="button btn btn-primary" id="btn-three" type="button" data-toggle="button"
        name="option" value="3">
      Phase C
    </a>
  </div>
  <div id="nodesNetwork"></div>
</div>

