<div class="container">
  <div ng-controller="date-picker-controller as vm">
    <div class="page-header" style="text-align:center;">
      <h1>Nodes</h1>
    </div>
    <div class="container marketing">
      <h4 style="padding-bottom:20px;">
        In this table you can select for which time quarter of a specific day you would
        like to see the power flow among the nodes of the system.
      </h4>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10 no-padding-left">
            <p style="padding-bottom:10px;">
              Fill in the following inputs with the Date and the Time that you are interested in.
              After clicking on the "Search" button you will see the values of the
              characteristics of the entire system.
            </p>
          </div>
      </div>
    </div>
    <form class="form-horizontal">
        <div class="form-group has-feedback">
          <label for="exampleInputName2" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"
                    id="firstForm"
                    datepicker-popup="MMM dd, yyyy"
                    is-open="vm.valuationDatePickerIsOpen"
                    ng-click="vm.valuationDatePickerOpen()"
                    show-button-bar="false"
                    ng-model="initialDate"
                    min-date="startDate"
                    max-date="endDate"/>
              <i class="form-control-feedback glyphicon glyphicon-calendar"></i>
          </div>
        </div>
        <div class="form-group">
          <label for="timeSelected" class="col-sm-2 control-label">Time </label>
          <div class="col-sm-10">
            <select name="timeSlider" id="timeSlider"></select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" id="open">Search</button>
          </div>
        </div>
    </form>
  </div>

  <script>
    $(function() {
        var select = $( "#timeSlider" );
        var slider = $( "<div id='slider'></div>" ).insertAfter( select ).slider({
          min: 0,
          max: 95,
          range: "min",
          value: select[ 0 ].selectedIndex,
          slide: function( event, ui ) {
            select[ 0 ].selectedIndex = ui.value;
          }
        });

        var timeArray = [];
        var formattedTimeArray = [];
        var formattedMinute;
        for(hour = 0; hour < 24; hour++) {
          hour = ('0' + hour).slice(-2);
          for (minute = 0; minute < 60; minute = minute + 15) {
            formattedMinute = minute === 0 ? minute + '0' : minute;
            timeArray.push(hour+ ':' +formattedMinute);
          }
        }
         $("#slider")
            .slider("pips", {
              labels: timeArray,
                rest: 'label',
                step: 8,
            })

            .slider("float", {
                labels: timeArray
            });

        $("#timeSlider" ).change(function() {
          slider.slider( "value", this.selectedIndex );
        });

        $('#timeSlider').empty();
        $.each(timeArray, function(key, value) {
          $('#timeSlider')
            .append($("<option></option>")
            .attr("value", value)
            .text(value));
        });
    });

    $('#open').click(function() {
        var URL = '#/nodes/hierarchical-layout/',
            slace = '/',
            firstUserEntry = $('#firstForm').val();
            secondUserEntry = $('#timeSlider').val();

            if (firstUserEntry=='Aug 01, 2000') {
              firstUserEntry = '01-08-2000';
            }
            if (firstUserEntry=='Aug 02, 2000') {
              firstUserEntry = '02-08-2000';
            }
            if (firstUserEntry=='Aug 03, 2000') {
              firstUserEntry = '03-08-2000';
            }
            if (firstUserEntry=='Aug 04, 2000') {
              firstUserEntry = '04-08-2000';
            }
            if (firstUserEntry=='Aug 05, 2000') {
              firstUserEntry = '05-08-2000';
            }
            if (firstUserEntry=='Aug 06, 2000') {
              firstUserEntry = '06-08-2000';
            }
            if (firstUserEntry=='Aug 07, 2000') {
              firstUserEntry = '07-08-2000';
            }

        var newWindow = window.open(URL + firstUserEntry + '/' + secondUserEntry, '_blank');
        newWindow.focus();
    });
  </script>



</div>
