<div class="container">
  <div class="page-header center-alignment">
    <h2>
      Hierarchical Layout of System for Phase A for {{ date }} & {{ time }}
    </h2>
  </div>
  <div class="center-alignment">
    You can also see the data for Nodes in Hierarchical Layout, in Unsorted Graph or per Phase,
    pressing the following buttons. Or move the needle of the slider to
    watch how the graph is behave in time.
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-12">
        <select name="timeSlider" id="timeSlider"></select>
      </div>
    </div>
  </form>
  <input type="hidden" name="option" value="" id="btn-input" />
  <div class="btn-group btn-group-justified" data-toggle="buttons-radio" style="margin-bottom:25px; margin-top:10px;">
    <a href="#/nodes/hierarchical-layout/{{date}}/{{time}}"
        class="button btn btn-primary" id="btn-one" type="button" data-toggle="button"
        name="option" value="1">
      Hierarchical Layout
    </a>
    <a href="#/nodes/graph/{{date}}/{{time}}"
        class="button btn btn-primary" id="btn-two" type="button" data-toggle="button"
        name="option" value="2">
      Unsorted Graph
    </a>
    <a href="#/nodes/hierarchical-layout/A/{{date}}/{{time}}"
        class="button btn btn-primary active" id="btn-one" type="button" data-toggle="button"
        name="option" value="1" checked>
      Phase A
    </a>
    <a href="#/nodes/hierarchical-layout/B/{{date}}/{{time}}"
        class="button btn btn-primary" id="btn-two" type="button" data-toggle="button"
        name="option" value="2">
      Phase B
    </a>
    <a href="#/nodes/hierarchical-layout/C/{{date}}/{{time}}"
        class="button btn btn-primary" id="btn-three" type="button" data-toggle="button"
        name="option" value="3">
      Phase C
    </a>
  </div>
  <div id="nodesNetwork"></div>
</div>
