<div class="container">
  <h2 class="center-alignment">Hierarchical Layout of system for {{ date }} & {{ time }} & phase A </h2>
  <input type="hidden" name="option" value="" id="btn-input" />
  <div class="btn-group pull-right" data-toggle="buttons-radio" style="margin-bottom:25px; margin-top:10px;">
    <a href="#/nodes/hierarchical-layout/A/{{date}}/{{time}}"
        class="button btn btn-primary active" id="btn-one" type="button" data-toggle="button"
        name="option" value="1" checked>
      Phase A
    </a>
    <a href="#/nodes/hierarchical-layout/B/{{date}}/{{time}}"
        class="button btn btn-primary" id="btn-two" type="button" data-toggle="button"
        name="option" value="2">
      Phase B
    </a>
    <a href="#/nodes/hierarchical-layout/C/{{date}}/{{time}}"
        class="button btn btn-primary" id="btn-three" type="button" data-toggle="button"
        name="option" value="3">
      Phase C
    </a>
    <a href="#/nodes/hierarchical-layout/{{date}}/{{time}}/"
        class="button btn btn-primary" id="btn-four" type="button" data-toggle="button"
        name="option" value="4">
      All Phases
    </a>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
<!--       <label for="timeSelected" class="col-sm-2 control-label">Time </label> -->
      <div class="col-sm-12">
        <select name="timeSlider" id="timeSlider"></select>
      </div>
    </div>
  </form>
  <div ng-controller="nodes-tree-phaseA">
    <div id="nodesNetwork"></div>
  </div>
</div>

 <script>
    $(function() {
        var select = $( "#timeSlider" );
        var initialUrl = window.location.href;
        var arrayOfInputs = initialUrl.split('/');
        var date = arrayOfInputs[7];
        var timeArray = [];
        var formattedTimeArray = [];
        var formattedMinute;
        var arrayOfObjects = [];
        var timeArrayCopy = [];
        var timeObject = {};
        for(hour = 0; hour < 24; hour++) {
          hour = ('0' + hour).slice(-2);
          for (minute = 0; minute < 60; minute = minute + 15) {
            formattedMinute = minute === 0 ? minute + '0' : minute;
            timeArray.push(hour+ ':' +formattedMinute);
            timeArrayCopy.push(hour+ ':' +formattedMinute);
          }
        }

        for(index = 1; index <= 96; index++ ){
          var shiftedTime = timeArrayCopy.shift();
          timeObject = {
            timeValue : shiftedTime,
            timeKey   : index
          };
          arrayOfObjects.push(timeObject);
        }

        var slider = $( "<div id='slider'></div>" ).insertAfter( select ).slider({
          min: 1,
          max: 96,
          range: "min",
          value: select[ 0 ].selectedIndex +1,
          create: function(event, ui) {
           var initialTime = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
           for(i = 1; i < arrayOfObjects.length; i++) {
            if (initialTime === arrayOfObjects[i].timeValue ) {
                $(this).slider('value', arrayOfObjects[i].timeKey);
            }
           }
          },
          slide: function(event, ui ) {
            select[ 0 ].selectedIndex = ui.value - 1;
          },
          stop : function(event, ui) {
            slideValue = timeSlider.value;
            $.ajax({
              url : '/nodes-all/' + date + '/' + slideValue,
              type : "GET",
              data : {
                "slideValue" : slideValue
              },
              dataType : "json",
                success : function(response){
                  angular.element($('#nodesNetwork')).scope().nodesTreePhaseA(response);
              }
            });
          }
        });

        $("#slider")
          .slider("pips", {
            labels: timeArray,
              rest: 'label',
              step: 8,
          })

          .slider("float", {
              labels: timeArray
          });

        $("#timeSlider" ).change(function() {
          slider.slider( "value", this.selectedIndex + 1 );
        });

        $('#timeSlider').empty();
        $.each(timeArray, function(key, value) {
          $('#timeSlider')
            .append($("<option></option>")
            .attr("value", value)
            .text(value));
        });
    });
</script>
