<div class="container">
  <h2 class="center-alignment">Unsorted Graph for {{ date }} & {{ time }} & phase B </h2>
  <input type="hidden" name="option" value="" id="btn-input" />
  <div class="btn-group pull-right" data-toggle="buttons-radio" style="margin-bottom:25px; margin-top:10px;">
    <a href="#/nodes/graph/A/{{date}}/{{time}}"
        class="button btn btn-primary" id="btn-one" type="button" data-toggle="button"
        name="option" value="1">
      Phase A
    </a>
    <a href="#/nodes/graph/B/{{date}}/{{time}}"
        class="button btn btn-primary" id="btn-two" type="button" data-toggle="button"
        name="option" value="2">
      Phase B
    </a>
    <a href="#/nodes/graph/C/{{date}}/{{time}}"
        class="button btn btn-primary active" id="btn-three" type="button" data-toggle="button"
        name="option" value="3" checked>
      Phase C
    </a>
    <a href="#/nodes/graph/{{date}}/{{time}}/"
        class="button btn btn-primary" id="btn-four" type="button" data-toggle="button"
        name="option" value="4">
      All Phases
    </a>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-12">
        <select name="timeSlider" id="timeSlider"></select>
      </div>
    </div>
  </form>
  <div id="nodesNetwork"></div>
</div>
