<div class="container">
  <div class="page-header center-alignment">
    <h2>
      Global graph for all Nodes & Houses of our System
    </h2>
  </div>
  <div>
    This graph shows the connection among the nodes of our system.
    Each central-node is connected with a number of subnodes which are the houses
    that belongs to node. Our system has 10 basic nodes, where each of them has a specific
    number of houses. In our graph we also show all the houses contained by each node.
  </div>
  <br>
    <div id="systemNetwork"></div>
  </div>
</div>
