<div class="container">
  <div class="page-header center-alignment">
    <h2>
      Transformer's values per phase on {{date}} at {{time}}
    </h2>
  </div>
  <div>
    In the following graphs you can see the power flowing through transformer per phase.
    Each chart presents the power that flows into the transformer’s phase, the power flows out of
    it and the power losses it probably has. These numbers are in complex form.
  </div>
  <br>
    <h3 style="text-align:center; padding-top:20px;">
      Phase A of Transformer on {{date}} at {{time}}
    </h3>
    <div id="networkForPhaseA"></div>
    <h3 style="text-align:center; padding-top:60px;">
      Phase B of Transformer on {{date}} at {{time}}
    </h3>
    <div id="networkForPhaseB"></div>
    <h3 style="text-align:center; padding-top:60px;">
      Phase C of Transformer on {{date}} at {{time}}
    </h3>
    <div id="networkForPhaseC"></div>
</div>
