<div class="container">
  <div ng-controller="date-picker-controller as vm">
    <div class="page-header" style="text-align:center;">
      <h1>Central Triplex Meter</h1>
    </div>
    <div class="container marketing">
      <h4 style="text-align:center; padding-bottom:20px;">
        This table contains information about Central Triplex Meter of the System.
        To be more specific contains the values for Real & Reactive Power for each
        central node of the system per day.
      </h4>
      <p style="text-align:center; padding-bottom:10px;">
        Fill in the following forms with the date and the nodeID and you will see the
        multiple axes-chart
      </p>
    </div>
    <form class="form-horizontal">
        <div class="form-group has-feedback">
          <label for="exampleInputName2" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"
                    id="firstForm"
                    datepicker-popup="MMM dd, yyyy"
                    is-open="vm.valuationDatePickerIsOpen"
                    ng-click="vm.valuationDatePickerOpen()"
                    show-button-bar="false"
                    ng-model="initialDate"
                    min-date="startDate"
                    max-date="endDate" />
              <i class="form-control-feedback glyphicon glyphicon-calendar"></i>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputName3" class="col-sm-2 control-label">NodeID</label>
          <div class="col-sm-10">
            <select class="form-control" id="secondForm" placeholder="611">
              <option value="611">611</option>
              <option value="645">645</option>
              <option value="646">646</option>
              <option value="652">652</option>
              <option value="671">671</option>
              <option value="675">675</option>
              <option value="692">692</option>
              <option value="6321">6321</option>
              <option value="6711">6711</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" id="open">Search</button>
          </div>
        </div>
    </form>
  </div>

  <script>
    $('#open').click(function() {
        var URL = '#/triplex-meter/multiple-axes/',
            slace = '/',
            firstUserEntry = $('#firstForm').val(),
            secondUserEntry = $('#secondForm').val();

            if (firstUserEntry=='Aug 01, 2000') {
              firstUserEntry = '01-08-2000';
            }
            if (firstUserEntry=='Aug 02, 2000') {
              firstUserEntry = '02-08-2000';
            }
            if (firstUserEntry=='Aug 03, 2000') {
              firstUserEntry = '03-08-2000';
            }
            if (firstUserEntry=='Aug 04, 2000') {
              firstUserEntry = '04-08-2000';
            }
            if (firstUserEntry=='Aug 05, 2000') {
              firstUserEntry = '05-08-2000';
            }
            if (firstUserEntry=='Aug 06, 2000') {
              firstUserEntry = '06-08-2000';
            }
            if (firstUserEntry=='Aug 07, 2000') {
              firstUserEntry = '07-08-2000';
            }

        var newWindow = window.open(URL + firstUserEntry + slace + secondUserEntry, '_blank');
        newWindow.focus();
    });
  </script>



</div>
