<div class="container">
  <div class="page-header center-alignment">
    <h2>
      Line Chart of Node {{nodeID}} of Central Triplex Meter at {{ date }}
    </h2>
  </div>
  <div>
    Line Diagram can easily present the pattern of the data producing a clear and appealing result.
    You can also view the data for the Central Triplex Meter either in Multiple Axes Line Diagram or
    in Spider Diagram by clicking on the following buttons.
  </div>
  <br>
  <input type="hidden" name="option" value="" id="btn-input" />
  <div class="btn-group pull-right" data-toggle="buttons-radio" style="margin-bottom:25px; margin-top:10px;">
    <a href="#/triplex-meter/multiple-axes/{{date}}/{{nodeID}}"
        class="button btn btn-primary" id="btn-one" type="button" data-toggle="button"
        name="option" value="1">
      Multiple Axes Diagram
    </a>
    <a href="#/triplex-meter/highcharts/{{date}}/{{nodeID}}"
        class="button btn btn-primary active" id="btn-two" type="button" data-toggle="button"
        name="option" value="2" checked>
      Line Diagram
    </a>
    <a href="#/triplex-meter/highcharts-spider/{{date}}/{{nodeID}}"
        class="button btn btn-primary" id="btn-three" type="button" data-toggle="button"
        name="option" value="3">
      Spider Diagram
    </a>
  </div>
  <div id="containerTriplex"></div>
</div>
