<div class="dark">
    <div class="container">
      <h1 class="header-padding">Back-end Technologies</h1>
      <div class="container marketing">
        <div class="row">
          <div class="col-lg-4">
            <div class="my-image" style="background-image: url(../img/nodejs-logo.jpg);  background-size: 225px;"></div>
            <h2>Node.js</h2>
            <p align="center">
              Node.js® is a platform built on Chrome's JavaScript runtime
              for easily building fast, scalable network applications.
              Node.js uses an event-driven, non-blocking I/O model that
              makes it lightweight and efficient, perfect for data-intensive
              real-time applications that run across distributed devices.
            </p>
            <div class="button-center-align">
              <a class="dark-background btn btn-default" role="button" href="http://nodejs.org/" target="_blank">View details »</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="my-image" style="background-image: url(../img/expressjs-logo.png);"></div>
            <h2>Express.js</h2>
            <p align="center">
              Express is a light-weight, minimal and flexible Node.js web
              application framework that helps you to organize your web application
              into an MVC architecture on the server side. It designed for building
              single-page, multi-page, and hybrid web application
            </p>
            <div class="button-center-align">
              <a class="dark-background btn btn-default" role="button" href="https://expressjs.com/" target="_blank">View details »</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="my-image" style="background-image: url(../img/sailsjs-logo.jpg);"></div>
            <h2>Sails.js</h2>
            <p align="center">
              Sails.js make it easy to build custom, enterprise-grade Node.js
              apps. It is designed to emulate the familiar MVC pattern of frameworks, but with
              support for the requirements of modern apps: data-driven APIs with
              scalable, service-oriented architecture.
            </p>
            <div class="button-center-align">
              <a class="dark-background btn btn-default" role="button" href="https://sailsjs.org/#!/" target="_blank">View details »</a>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-4">
            <div class="my-image" style="background-image: url(../img/my-sql-logo.jpg); background-size:250px"></div>
            <h2>MySql</h2>
            <p align="center">
              MySQL is the world's most popular open source database. It is a
              relational database management system (RDBMS) based on Structured
              Query Language (SQL).
            </p>
            <div class="button-center-align">
              <a class="dark-background btn btn-default" role="button" href="https://mysql.com/" target="_blank">View details »</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="my-image" style="background-image: url(../img/npm-logo.png); "></div>
            <h2>Npm</h2>
            <p align="center">
              Npm is a NodeJS package manager. As its name would imply, you can use
              it to install node programs. Also, if you use it in development, it makes
              it easier to specify and link dependencies.
            </p>
            <div class="button-center-align">
              <a class="dark-background btn btn-default" role="button" href="https://www.npmjs.com/" target="_blank">View details »</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="light">
    <div class="container marketing">
      <h1 class="header-padding">Front-end Technologies</h1>
      <div class="row">
        <div class="col-lg-4">
          <div class="my-image" style="background-image: url(../img/HTML5-logo.png); background-size:175px;"></div>
          <h2>HTML5</h2>
          <p align="center">
            HTML5 is a core technology markup language of the Internet used for
            structuring and presenting content for the World Wide Web. As of October
            2014 this is the final and complete fifth revision of the HTML standard
            of the World Wide Web Consortium (W3C).
          </p>
          <div class="button-center-align">
            <a class="light-background btn btn-default" role="button" href="http://www.w3schools.com/html/html5_intro.asp" target="_blank">View details »</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="my-image" style="background-image: url(../img/css3-logo.jpg); background-size:220px ;"></div>
          <h2>Css3</h2>
          <p align="center">
            CSS3 is the latest version of the CSS specification. The term “CSS3” is
            not just a reference to the new features in CSS, but the third level in
            the progress of the CSS specification. CSS3 contains just about everything
            that's included in CSS2.1.
          </p>
          <div class="button-center-align">
            <a class="light-background btn btn-default" role="button" href="http://www.w3schools.com/css/css3_intro.asp" target="_blank">View details »</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="my-image" style="background-image: url(../img/js-logo.png); background-size:160px;"></div>
          <h2>Javascript</h2>
          <p align="center">
            JavaScript (JS), is a dynamic programming language. It is most commonly
            used as part of web browsers, whose implementations allow client-side scripts
            to interact with the user, control the browser and communicate asynchronously.
          </p>
          <div class="button-center-align">
            <a class="light-background btn btn-default" role="button" href="http://www.w3schools.com/js/" target="_blank">View details »</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="my-image" style="background-image: url(../img/angularjs-logo.png);"></div>
          <h2>AngularJS</h2>
          <p align="center">
            AngularJS is a structural framework for dynamic web apps. It lets you use
            HTML as your template language and extend HTML's syntax to express
            your application's components clearly and succinctly. And it all happens
            within the browser, making it an ideal partner with any server technology.
          </p>
          <div class="button-center-align">
            <a class="light-background btn btn-default" role="button" href="https://angularjs.org/" target="_blank">View details »</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="my-image" style="background-image: url(../img/bootstrap3-logo.png); background-size:188px;"></div>
          <h2>Twitter Bootstrap</h2>
          <p align="center">
            Bootstrap is a free and open-source collection of tools for creating websites
            and web applications. It contains HTML- and CSS-based design templates for
            typography, forms, buttons, navigation and other interface components, as well
            as optional JavaScript extensions.
          </p>
          <div class="button-center-align">
            <a class="light-background btn btn-default" role="button" href="http://getbootstrap.com/" target="_blank">View details »</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="my-image" style="background-image: url(../img/jquery-logo.png);"></div>
          <h2>jQuery</h2>
          <p align="center" style="width:350px;">
            jQuery is a fast, small, and feature-rich JavaScript library. It makes things
            like HTML document traversal and manipulation, event handling, animation, and
            Ajax much simpler with an easy-to-use API that works across a multitude of
            browsers.
          </p>
          <div class="button-center-align">
            <a class="light-background btn btn-default" role="button" href="https://jquery.com/" target="_blank">View details »</a>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
